body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0015ff, #ff0000);
    color: #000000;
}

.header {
    text-align: left;
    background-color: #9500ff;
    color: #000000;
    padding: 1px;
}

.table-container {
    margin: 10px auto;
    width: 65%;
    background: #a0a0a0;
    border-radius: 25px;
    padding: 15px;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.table-container th {
    border: 1px solid #000000;
    padding: 15px;
    text-align: center;
}

.table-container td {
    border: 1px solid #000000;
    padding: 15px;
    text-align: left;
}

.violet_color {
    color: #8d2fff;
}

.italic {
    font-style: italic;
}

.large-text {
    font-size: 2em;
    font-weight: bold;
}

.search-engines {
    text-align: center;
    margin: 10px 0;
}

.search-engines img {
    width: 100px;
    margin: 0 30px;
}

.youtube-video {
    text-align: center;
}